<div class="about-me-container" id="about-me-container">
  <mat-card class="about-me-card">
    <p>
      I'm <span class="about-me-name"> Samar Soltani</span>, a quality control
      engineer I help you supervising the staff and product development process
      to ensure that the product developed meets quality standards, efficiency
      standards, and customer satisfaction as well. Thousands of clients have
      procured exceptional results while working with our dedicated team. My
      main task is to determine whether the finished product meets the quality
      standards and find the root cause of the defective products and come up
      with techniques to overcome those defects. I also work with all other
      departments to coordinate and ensure product quality standards are met
      regularly.
    </p>
  </mat-card>
</div>
