.website-side-nav {
  background-color: #022a38;
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

.website-photo {
  margin-top: 50px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.photo-img {
  border-radius: 50%;
  border: solid 3px rgb(114, 112, 112);
}
img {
  object-fit: contain;
  height: 100%;
}

.website-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.contact-icons {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
}

.warning-message {
  background-image: url("../assets/quality-level.jpg");
  width: 100%;
  height: 100%;
  opacity: 0.9;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-weight: bolder;
  color: rgb(103, 226, 103);
}

@media screen and (max-width: 1040px) {
  .website-container {
    display: none;
  }
}
@media screen and (min-width: 1040px) {
  .warning-message {
    display: none;
  }
}
a {
  color: white;
}
.selected-link {
  color: #20c997;
}
