<div class="website-wrapper">
  <div class="website-content">
    <div class="website-intro">
      <div class="website-desc" style="font-weight: 400; font-size: x-large">
        Welcome
      </div>
      <br />
      <div
        class="website-desc"
        style="font-weight: bolder; font-size: xx-large"
      >
        I'm Samar Soltani
      </div>
      <br />
      <div class="website-desc" style="font-weight: 500; font-size: large">
        Based in Tunisia
      </div>
    </div>
    <div></div>
  </div>
</div>
